<p-blockUI [blocked]="blocked" [target]="orderPanel">
    <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <p-toast [style]="{marginTop: '50px'}" escape="false"></p-toast>
    <p-panel #orderPanel>
      <div class="animated fadeIn" style="margin-top: 30px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <h3 style="float: left;">View Basket</h3>
                    <div style="float: right;">
                        <input class="btn btn-secondary ok-btn mr-1"
                            type="button" value="Add Item" (click)="onClickAddItem()">
                        <input class="btn btn-secondary ok-btn mr-1" 
                            type="button" value="Remove Item" 
                            [disabled]="buttonDisabled"
                            (click)="onClickRemoveItem()"> 
                        <input class="btn btn-secondary ok-btn"
                            type="button" value="Back" (click)="onClickBack()"> 
                    </div>
              </div>
              <!--Start-->
              <div class="card-body">
                <form #tableViewForm="ngForm" class="form-horizontal">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="row grid">
                          <!--Start Table-->
                          <p-table #dt1 [columns]="cols" [value]="tableViewList" 
                            [responsive]="config.responsive" dataKey="orderId" 
                            [paginator]="config.paginator" [rows]="config.rows" [paginatorPosition]="config.paginatorPosition"
                            [resizableColumns]="config.resizableColumns" [columnResizeMode]="config.columnResizeMode"
                            [reorderableColumns]="config.reorderableColumns"
                            [scrollable]="config.scrollable"
                            [rowsPerPageOptions]="config.rowsPerPageOptions"
                            [(selection)]="selectedRecords"
                            (onPage)="pagination($event)">
                            <ng-template pTemplate="colgroup" let-columns>
                              <colgroup>
                                <col style="width: 30px;">
                                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                              </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                              <tr>
                                <th class="grid-header" style="text-align: center;">
                                    <p-tableHeaderCheckbox (click)="onClickSelectRow()"></p-tableHeaderCheckbox>
                                </th>
                                <th class="grid-header" *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign}"
                                    pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                    {{ col.header }}
                                  <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                                <td style="text-align:center">
                                    <p-tableCheckbox (click)="onClickSelectRow()" [value]="rowData"></p-tableCheckbox>
                                </td>
                                <td [pEditableColumn]="rowData" [pEditableColumnField]="rowData[col.field]" 
                                    *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign}"> 
                                  <p-cellEditor>
                                    <ng-template pTemplate="output">
                                      {{rowData[col.field]}}
                                    </ng-template>
                                    <ng-template pTemplate="output" *ngIf="col.field === 'productId'">
                                      <div *ngFor="let option of productList">
                                          <span *ngIf="rowData[col.field] == option.value && rowData[col.field] !=null">
                                              {{option.label}}
                                          </span>
                                      </div>
                                  </ng-template>
                                    <ng-template pTemplate="input">
                                      {{rowData[col.field]}}
                                    </ng-template>
                                    <ng-template pTemplate="input" *ngIf="col.field === 'productId'">
                                      <div *ngFor="let option of productList">
                                          <span *ngIf="rowData[col.field] == option.value && rowData[col.field] !=null">
                                              {{option.label}}
                                          </span>
                                      </div>
                                  </ng-template>
                                  </p-cellEditor> 
                                </td>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="paginatorleft">
                            </ng-template>
                            <ng-template pTemplate="paginatorright">
                              &nbsp;
                              Total Records: {{ totalRecords }}
                              &nbsp;
                            </ng-template>
                            <ng-template pTemplate="emptymessage" let-columns>
                                <tr>
                                    <td [attr.colspan]="columns.length + 2">
                                      No record to display
                                    </td>
                                </tr>
                            </ng-template>
                          </p-table>
                        <!--End Table-->
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="text-align: right;font-weight: bold;">
                        <label class="col-form-label " for="price">
                            Grand Total : {{ grandTotal }}</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!--End-->
          </div>
        </div>
      </div>
    </p-panel>

<p-dialog header="Add Item" [(visible)]="displayDialog" [focusOnShow]="false" 
  [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '50%'}">
  <div class="col-md-12" style="padding-left: 60px;">
    <div class="row">
        <div class="col-md-3">
            <label class="col-form-label " for="productId">
                Product</label>
        </div>
        <div class="col-md-7">
          <p-dropdown appendTo="body"
            [options]="productList" dataKey="value"
            [(ngModel)]="order.productId" name="productId"
            [autoDisplayFirst]="false" autoWidth="false"
            [style]="{'width':'100%', 'text-align' : 'left'}" autoWidth="false" 
            (onChange)="getProductPrice()"></p-dropdown>
        </div>
    </div>
    <div class="row spacing">
        <div class="col-md-3">
            <label class="col-form-label " for="price">
                Price</label>
        </div>
        <div class="col-md-4">
          <input type="text"  class="form-control " maxlength="12"
            [(ngModel)]="order.price" name="price" disabled
            pInputText
            autocomplete="off">
        </div>
    </div>
    <div class="row spacing">
        <div class="col-md-3">
            <label class="col-form-label " 
            for="quantity">Quantity</label>
        </div>
        <div class="col-md-4" >
          <input type="text"  class="form-control " maxlength="5"
            [(ngModel)]="order.quantity" name="quantity" 
            pInputText pKeyFilter="pnum" (change)="getTotalPrice()"
            autocomplete="off">
        </div>
    </div>
    <div class="row spacing">
      <div class="col-md-3">
          <label class="col-form-label " 
          for="totalPrice">Total Price</label>
      </div>
      <div class="col-md-4" >
          <input type="text"  class="form-control" maxlength="45"
          [(ngModel)]="order.totalPrice" name="totalPrice" 
          autocomplete="off" disabled
          pInputText pKeyFilter="num">
      </div>
  </div>
  </div>
  <p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <input class="btn btn-secondary ok-btn mr-1" [disabled]="buttonDisabled"
          type="button" value="Save" (click)="onClickSaveItem()">
      <input class="btn btn-secondary ok-btn"
          type="button" value="Cancel" (click)="onClickCancel()"> 
  </div>
  </p-footer>
</p-dialog>