<p-blockUI [blocked]="blocked" [target]="customerPanel">
  <p-progressSpinner></p-progressSpinner>
  </p-blockUI>
  <p-toast [style]="{marginTop: '50px'}" escape="false"></p-toast>
  <p-panel #customerPanel>
    <div class="animated fadeIn" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
                <h3 style="float: left;">Customer Basket</h3>
                <input class="btn btn-secondary" type="button" value="Add Customer Basket" style="float: right;"
                  (click)="onClickAddCustomer()">
            </div>
            <!--Start-->
            <div class="card-body">
              <form #tableViewForm="ngForm" class="form-horizontal">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row grid">
                        <!--Start Table-->
                        <p-table #dt1 [columns]="cols" [value]="tableViewList" 
                          [responsive]="config.responsive" dataKey="customerId" 
                          [paginator]="config.paginator" [rows]="config.rows" [paginatorPosition]="config.paginatorPosition"
                          [resizableColumns]="config.resizableColumns" [columnResizeMode]="config.columnResizeMode"
                          [reorderableColumns]="config.reorderableColumns"
                          [scrollable]="config.scrollable"
                          [rowsPerPageOptions]="config.rowsPerPageOptions"
                          [(selection)]="selectedRecords"
                          (onPage)="pagination($event)">
                          <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                              <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                              <col style="width: 100px;">
                            </colgroup>
                          </ng-template>
                          <ng-template pTemplate="header" let-columns>
                            <tr>
                              <th class="grid-header" *ngFor="let col of columns" style="text-align: left;"
                                  pResizableColumn pReorderableColumn [pSortableColumn]="col.field">
                                  {{ col.header }}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                              </th>
                              <th class="grid-header" style="text-align: center;">&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;View Basket</th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                              <td [pEditableColumn]="rowData" [pEditableColumnField]="rowData[col.field]" 
                                  *ngFor="let col of columns" [ngStyle]="{'text-align': col.textAlign}"> 
                                <p-cellEditor>
                                  <ng-template pTemplate="output">
                                    {{rowData[col.field]}}
                                  </ng-template>
                                  <ng-template pTemplate="output" *ngIf="col.field === 'birthDate'">
                                    {{rowData[col.field] | date:'dd-MM-yyyy'}}
                                  </ng-template>
                                  <ng-template pTemplate="input">
                                    {{rowData[col.field]}}
                                  </ng-template>
                                  <ng-template pTemplate="input" *ngIf="col.field === 'birthDate'">
                                    {{rowData[col.field] | date:'dd-MM-yyyy'}}
                                  </ng-template>
                                </p-cellEditor> 
                              </td>
                              <td [ngStyle]="{'text-align': 'center'}">
                                <input class="btn btn-secondary ok-btn" type="button" value="View"
                                  (click)="onClickViewBasket(rowData.customerId)">
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="paginatorleft">
                          </ng-template>
                          <ng-template pTemplate="paginatorright">
                            &nbsp;
                            Total Records: {{ totalRecords }}
                            &nbsp;
                          </ng-template>
                          <ng-template pTemplate="emptymessage" let-columns>
                              <tr>
                                  <td [attr.colspan]="columns.length + 2">
                                    No record to display
                                  </td>
                              </tr>
                          </ng-template>
                        </p-table>
                      <!--End Table-->
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--End-->
        </div>
      </div>
    </div>
  </p-panel>

<p-dialog header="Add Customer Basket" [(visible)]="displayDialog" [focusOnShow]="false" 
  [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '60%'}">
  <p-toast position="top-right" [style]="{position: 'absolute'}"></p-toast>
  <div class="col-md-12" style="padding-left: 60px;">
    <div class="row">
        <div class="col-md-3">
            <label class="col-form-label " for="fullName">
                Fullname</label>
        </div>
        <div class="col-md-7">
          <input type="text"  class="form-control " maxlength="100"
          [(ngModel)]="customer.fullName" name="fullName" (change)="saveEnabled()"
          autocomplete="off">
        </div>
    </div>
    <div class="row spacing">
        <div class="col-md-3">
            <label class="col-form-label " 
            for="birthDate">Birth Date</label>
        </div>
        <div class="col-md-3" >
          <p-calendar dateFormat="dd-mm-yy" rPCalendarMask
            appendTo="body" autoZIndex="true" 
            [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2100" 
            inputStyleClass="form-control " [showOnFocus]="true"
            [(ngModel)]="customer.birthDate" name="birthDate" (onChange)="saveEnabled()"
            [showIcon]="false"></p-calendar>
        </div>
    </div>
    <div class="row spacing">
      <div class="col-md-3">
          <label class="col-form-label " 
          for="contactNr">Contact Number</label>
      </div>
      <div class="col-md-3" >
          <input type="text"  class="form-control" maxlength="45"
          [(ngModel)]="customer.contactNr" name="contactNr" 
          autocomplete="off" (change)="saveEnabled()"
          pInputText pKeyFilter="num">
      </div>
  </div>
    <div class="row spacing">
        <div class="col-md-3">
            <label class="col-form-label " for="address">
              Address</label>
        </div>
        <div class="col-md-7" >
          <input type="text"  class="form-control " maxlength="150"
            [(ngModel)]="customer.address" name="address" (change)="saveEnabled()"
            autocomplete="off">
        </div>
    </div>
  </div>
  <p-footer>
  <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <input class="btn btn-secondary ok-btn mr-1" [disabled]="buttonDisabled"
          type="button" value="Save" (click)="onClickSaveCustomer()">
      <input class="btn btn-secondary ok-btn"
          type="button" value="Cancel" (click)="onClickCancel()"> 
  </div>
  </p-footer>
</p-dialog>